@page "{socioId:int}"
@model El_Cuervo_Gym_Web.Pages.Admin.Cobranza.AltaCobranzaModel
@using El_Cuervo_Gym_Web.Core.Utils
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Alta de Cobranza";
}

<div class="container mt-5">
    <h2 class="mb-4">Alta de Cobranza</h2>
    <div class="card mb-4">
        <div class="card-body">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Cobranza.Nombre">Nombre</label>
                        <input asp-for="Cobranza.Nombre" class="form-control" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Cobranza.Documento">Documento</label>
                        <input asp-for="Cobranza.Documento" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Cobranza.NumeroSocio">Número de Socio</label>
                        <input asp-for="Cobranza.NumeroSocio" class="form-control" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Cobranza.FechaPago">Fecha y Hora de Pago</label>
                        <input asp-for="Cobranza.FechaPago" class="form-control" type="datetime-local" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Cobranza.Monto">Monto</label>
                        <input asp-for="Cobranza.Monto" class="form-control" type="number" />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Cobranza.Comprobante">Comprobante</label>
                        <input asp-for="Cobranza.Comprobante" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Cobranza.TipoPago">Tipo de Pago</label>
                        <select asp-for="Cobranza.TipoPago" class="form-control" asp-items="Html.GetEnumSelectList<TipoPago>()"></select>
                    </div>
                </div>
                <input asp-for="Cobranza.FechaCuota" type="hidden" />
                <button type="submit" class="btn btn-dark">Registrar Cobranza</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}