@page
@model El_Cuervo_Gym_Web.Pages.Admin.Socio.AltaSocioModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Alta de Socio";
}

<div class="container mt-5">
    <h2 class="mb-4">Alta de Socio</h2>
    <div class="card mb-4">
        <div class="card-body">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="NuevoSocio.Nombre">Nombre</label>
                        <input asp-for="NuevoSocio.Nombre" class="form-control" />
                        <span asp-validation-for="NuevoSocio.Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="NuevoSocio.Apellido">Apellido</label>
                        <input asp-for="NuevoSocio.Apellido" class="form-control" />
                        <span asp-validation-for="NuevoSocio.Apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="NuevoSocio.Documento">Documento</label>
                        <input asp-for="NuevoSocio.Documento" class="form-control" type="number" value="" />
                        <span asp-validation-for="NuevoSocio.Documento" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="NuevoSocio.Telefono">Teléfono</label>
                        <input asp-for="NuevoSocio.Telefono" class="form-control" type="number" value="" />
                        <span asp-validation-for="NuevoSocio.Telefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="NuevoSocio.ObraSocial">Obra Social</label>
                        <input asp-for="NuevoSocio.ObraSocial" class="form-control" />
                        <span asp-validation-for="NuevoSocio.ObraSocial" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="NuevoSocio.NumeroObraSocial">Número de Obra Social</label>
                        <input asp-for="NuevoSocio.NumeroObraSocial" class="form-control" />
                        <span asp-validation-for="NuevoSocio.NumeroObraSocial" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="NuevoSocio.NumeroEmergencia">Número de Emergencia</label>
                        <input asp-for="NuevoSocio.NumeroEmergencia" class="form-control" type="number" value="" />
                        <span asp-validation-for="NuevoSocio.NumeroEmergencia" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="NuevoSocio.ContactoEmergencia">Contacto de Emergencia</label>
                        <input asp-for="NuevoSocio.ContactoEmergencia" class="form-control" />
                        <span asp-validation-for="NuevoSocio.ContactoEmergencia" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="NuevoSocio.FechaSubscripcion">Fecha de Subscripción</label>
                        <input asp-for="NuevoSocio.FechaSubscripcion" class="form-control" type="date" value="@Model.NuevoSocio.FechaSubscripcion.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="NuevoSocio.FechaSubscripcion" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark">Dar de Alta</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}